name: CI/CD Pipeline
on:
  workflow_dispatch:
  push:
    branches:
      - dev

jobs:
  infra:
    uses: ./.github/workflows/terraform.yml
    secrets: inherit

  argocd:
    uses: ./.github/workflows/argocd-install.yml
    needs: infra
    secrets: inherit

  test:
    uses: ./.github/workflows/test.yml
    needs: argocd
    secrets: inherit

  deploy:
    uses: ./.github/workflows/deploy.yml
    needs: test
    secrets: inherit
